body {
   font-family: 'Poppins', sans-serif;
}

.hero-container {
   width: 1200px;
   margin: 0 auto;
}

/* CONTACTS ====================== */
.contacts {
   height: 40px;
   position: relative;
}

.contacts__address,
.contacts__phone {
   position: absolute;
   top: 12px;
   margin-left: 100px;
   font-weight: normal;
   font-size: 14px;
   line-height: 15px;
   color: #1A1A1A;
}

.contacts__phone {
   right: 30px;
}

.contacts__address {
   right: 250px;
}
/* /CONTACTS ====================== */


/* HEADER ====================== */
#header {
   padding: 15px 0;
   background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

.header__nav-list-item {
   margin-left: 68px;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   position: relative;
}

.header__nav-list-item i {
   position: absolute;
   left: -20px;
   top: 3px;
   color: transparent;
   transition: all 0.2s ease-in-out;
}

.header__nav-list-item:hover i,
.header__nav-list-item--active i {
   color: #fff;
}

.header__nav-list-item a {
   color: #fff;
}

.header__btn {
   padding: 11px 28px;
   background: #fff;
   border-radius: 6px;
   border: 1px solid #fff;
   transition: all 0.2s ease-in-out;
}

.header__btn a {
   color: #DC7000;
   transition: all 0.2s ease-in-out;
}

.header__btn:hover {
   background: #DC7000;
}

.header__btn:hover a {
   color: #fff;
}
/* /HEADER ====================== */

/* HERO ====================== */
#hero {
   position: relative;
   background: #e27a0c1f;
   height: 675px;
}

.hero__desc {
   padding-top: 120px;
   padding-bottom: 113px;
}

.hero__links {
   font-weight: normal;
   font-size: 12px;
   line-height: 208.5%;
}

.hero__link-home {
   color: #848484;
}

.hero__link-about {
   color: #DC7000;
}

.hero__title {
   margin-top: 38px;
   font-weight: bold;
   font-size: 30px;
   line-height: 180.5%;
   color: #222222;
}

.hero__paragraph {
   margin-top: 28px;
   font-weight: normal;
   font-size: 15px;
   line-height: 208.5%;
   color: #525252;
}

.hero__btn {
   margin-top: 68px;
   padding: 16px 20px;
   background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
   color: #fff;
   border-radius: 40px;
}

.hero__btn i {
   position: relative;
   top: 2px;
   margin-left: 10px;
   transform: rotate(0deg);
   transition: all 0.3s ease-in-out;
}

.hero__btn:hover {
   background: linear-gradient(92.48deg, #FB9E3C 2.08%, #FA8305  117.25%);

}

.hero__btn:hover i {
   transform: rotate(180deg);
}

.hero__wrap {
   position: relative;
}

.hero__img {
   position: absolute;
   right: -76px;
}
/* /HERO ====================== */
