body {
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
}

.hero-container {
   width: 1200px;
   margin: 0 auto;
}

/* CONTACTS ====================== */

.contacts {
   height: 40px;
   position: relative;
}

.contacts__address,
.contacts__phone {
   position: absolute;
   top: 12px;
   margin-left: 100px;
   font-weight: normal;
   font-size: 14px;
   line-height: 15px;
   color: #1A1A1A;
}

.contacts__phone {
   right: 30px;
}

.contacts__address {
   right: 250px;
}

/* /CONTACTS ====================== */


/* HEADER ====================== */
#header {
   padding: 15px 0;
   background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

.header__nav-list-item {
   margin-left: 68px;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   position: relative;
}

.header__nav-list-item i {
   position: absolute;
   left: -20px;
   top: 3px;
   color: transparent;
   transition: all 0.2s ease-in-out;
}

.header__nav-list-item:hover i,
.header__nav-list-item--active i {
   color: #fff;
}

.header__nav-list-item a {
   color: #fff;
}

.header__btn {
   padding: 11px 28px;
   background: #fff;
   border-radius: 6px;
   border: 1px solid #fff;
   transition: all 0.2s ease-in-out;
}

.header__btn a {
   color: #DC7000;
   transition: all 0.2s ease-in-out;
}

.header__btn:hover {
   background: #DC7000;
}

.header__btn:hover a {
   color: #fff;
}

/* /HEADER ====================== */


/* HERO ====================== */


#hero {
   position: relative;
   background: #e27a0c1f;
   height: 675px;
}

.hero__desc {
   padding-top: 120px;
   padding-bottom: 113px;
}

.hero__links {
   font-weight: normal;
   font-size: 12px;
   line-height: 208.5%;
}

.hero__link-home {
   color: #848484;
}

.hero__link-about {
   color: #DC7000;
}

.hero__title {
   margin-top: 38px;
   font-weight: bold;
   font-size: 30px;
   line-height: 180.5%;
   color: #222222;
}

.hero__paragraph {
   margin-top: 28px;
   font-weight: normal;
   font-size: 15px;
   line-height: 208.5%;
   color: #525252;
}

.hero__btn {
   margin-top: 68px;
   padding: 16px 20px;
   background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
   color: #fff;
   border-radius: 40px;
}

.hero__btn i {
   position: relative;
   top: 2px;
   margin-left: 10px;
   transform: rotate(0deg);
   transition: all 0.3s ease-in-out;
}

.hero__btn:hover {
   background: linear-gradient(92.48deg, #FB9E3C 2.08%, #FA8305 117.25%);

}

.hero__btn:hover i {
   transform: rotate(180deg);
}

.hero__wrap {
   position: relative;
}

.hero__img {
   position: absolute;
   right: -160px;
}

/* /HERO ====================== */


.cards {
   padding: 55px 0;
   padding-bottom: 150px;
}

.open__title {
   font-style: normal;
   font-weight: 600;
   font-size: 25px;
   line-height: 180.5%;
   color: #222222;
   margin-bottom: 53px;
}

#group {
   background-color: #F5F5F5;
}

.huge {
   padding: 100px 0;
   margin-right: 80px;
}

.desceip__span {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 202.5%;
   color: #DC7000;
   margin-bottom: 15px;
}

.descrip__title {
   width: 530px;
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 157.5%;
   color: #000000;
   margin-bottom: 15px;
}

.descrip__txt {
   width: 530px;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 202.5%;
   color: #000000;
}

.card__list__first {
   width: 355px;
   height: 340px;
   background: #F5F5F5;
   border-radius: 20px;
   padding: 50px 30px;
   transition: background 0.4s ease, box-shadow 0.4s ease;
}

.first__span {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #B000DC;
   padding: 5px 25px 5px 15px;
   background-color: #F6E3FB;
   border-radius: 8px;
   margin-bottom: 20px;
}

.first__title {
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 187.5%;
   color: #000000;
   margin-bottom: 15px;
}

.first__txt {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #525252;
}


/* ---------- */


.card__list__second {
   width: 355px;
   height: 340px;
   background: #F5F5F5;
   border-radius: 20px;
   padding: 50px 30px;
   transition: background 0.4s ease, box-shadow 0.4s ease;

}


.second__span {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #DC1A00;
   padding: 5px 25px 5px 15px;
   background-color: #F2E1DA;
   border-radius: 8px;
   margin-bottom: 20px;
}

.second__title {
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 187.5%;
   color: #000000;
   margin-bottom: 15px;
}

.second__txt {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #525252;
}

/* ----------- */

.card__list__third {
   width: 355px;
   height: 340px;
   background: #F5F5F5;
   border-radius: 20px;
   padding: 50px 30px;
   transition: background 0.4s ease, box-shadow 0.4s ease;
}

.third__span {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #00DC72;
   padding: 5px 25px 5px 15px;
   background-color: #DAF2EA;
   border-radius: 8px;
   margin-bottom: 20px;
}

.third__title {
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 187.5%;
   color: #000000;
   margin-bottom: 15px;
}

.third__txt {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #525252;
}

.card__list__first:hover {
   background-color: #fff;
   box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
   transition: background 0.5s ease, box-shadow 0.4s ease;
}

.card__list__second:hover {
   background-color: #fff;
   box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
   transition: background 0.5s ease, box-shadow 0.4s ease;
}

.card__list__third:hover {
   background-color: #fff;
   box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
   transition: background 0.5s ease, box-shadow 0.4s ease;
}

#team {
   height: 619px;
}

.team__body {
   padding-top: 138px;
}

.team__title {
   margin-bottom: 60px;
}

.team__block {
   display: flex;
   justify-content: space-between;
}

.team__item {
   text-align: center;
   background: #F5F5F5;
   border-radius: 20px;
   width: 285px;
   height: 253px;
   transition: all 0.5s ease;
}

.team__item:hover {
   background: #ffffff;
   box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
}

.team__list::before {
   content: '';
   display: block;
   background-image: url(../img/Bill-1.png);
   width: 96px;
   height: 103px;
   background-repeat: no-repeat;
   background-position: center;
   margin-left: 100px;
   margin-top: 40px;
}

.team__list__two::before {
   content: '';
   display: block;
   background-image: url(../img/Beverly-1.png);
   width: 95px;
   height: 103px;
   background-repeat: no-repeat;
   margin-left: 90px;
   margin-top: 40px;
}

.team__list__tree::before {
   content: '';
   display: block;
   background-image: url(../img/Claudia-1.png);
   width: 95px;
   height: 103px;
   background-repeat: no-repeat;
   margin-left: 90px;
   margin-top: 40px;
}

.team__list__four::before {
   content: '';
   display: block;
   background-image: url(../img/Avatar-1.png);
   width: 95px;
   height: 103px;
   background-repeat: no-repeat;
   margin-left: 90px;
   margin-top: 40px;
}

.team__list__title {
   font-style: normal;
   font-weight: 600;
   font-size: 19px;
   line-height: 202.5%;
   color: #000000;
}

.team__list__text {
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 202.5%;
   color: #8B8B8B;
}

#partners {
   background: #F5F5F5;
   height: 384px;
}

.partners__body {
   padding-top: 70px;
}

.partners__title {
   margin-bottom: 60px;
}

.partners__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#action {
   height: 600px;
}

.action__body {
   margin-top: 138px;
}

.action__title {
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 187.5%;
   color: #222222;
}

.action__text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 187.5%;
   color: #525252;
   width: 525px;
   margin-bottom: 74px;
}

.action__item {
   background: #1B1B1B;
   border-radius: 15px;
   width: 1170px;
   height: 189px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.action__item__title {
   font-style: normal;
   font-weight: 500;
   font-size: 30px;
   line-height: 45px;
   color: #FFFFFF;
}

.action__item__text {
   font-style: normal;
   font-weight: normal;
   font-size: 17px;
   line-height: 25px;
   color: #FFFFFF;
   width: 517px;
}

.input {
   background: #ffffff;
   width: 490px;
   height: 50px;
   border-radius: 10px;
}

.action__input {
   width: 386px;
   height: 48px;
   background: #FFFFFF;
   border-radius: 8px;
   border: none;
   padding-left: 20px;
   padding-right: 20px;
}

.action__input__buttom {
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 19px;
   text-align: center;
   color: #FFFFFF;
   background: #DC7000;
   border-radius: 8px;
   padding: 8px 13px 9px 22px;
   margin-bottom: 55px;
}


/* -------FOOTER--------- */

#footer {
   position: relative;
   color: #fff;
   background: #1B1B1B;
}

.footer__div {
   padding: 50px 0;
   padding-top: 80px;
   opacity: 0.9;
}

#footer::after {
   position: absolute;
   bottom: 23%;
   width: 100%;
   height: 1.5px;
   content: "";
   background: #D2D2D2;
   opacity: 0.7;
}

.footer__about {
   margin-right: 15%;
}

.footer__logo {
   font-weight: bold;
   font-size: 25px;
   margin-bottom: 25px;
   color: #fff;
}

.footer__desc {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 25px;
}

.footer__site-link {
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
}

.footer__list {
   align-items: flex-end;
}

.footer__items {
   margin-right: 75px;
}

.footer__items > * {
   display: block;
}

.footer__items-strong {
   font-weight: 500;
   font-size: 17px;
   margin-bottom: 30px;
}

.footer__items-links {
   margin-right: 0;
}

.footer__items-link {
   font-size: 16px;
   margin-bottom: 10px;
   color: #fff;
   transition: color 0.2s ease;
}

.footer__items-link:hover {
   color: #FB9E3C;
}

.footer__items-desc {
   line-height: 24px;
   margin-bottom: 15px;
}

.item-link__bx {
   font-size: 20px;
   padding: 6px;
   margin: 0 5px;
   border-radius: 50%;
   color: #000;
   background-color: #fff;
   transition: background 0.2s ease;
}

.item-link__bx:hover {
   background-color: #fd8f19;
}

.footer__div-two {
   padding: 30px 0;

}


/* ============= PAGE 2  DILSHOD ============= */

.mini-txt {
   font-weight: normal;
   font-size: 16px;
   line-height: 208.5%;
   color: #848484;
}

.mini-span {
   font-weight: normal;
   font-size: 16px;
   line-height: 208.5%;
   color: #EB9740;
   padding-top: 100px;
   margin-bottom: 18px;
}

.servisec__title {
   margin-bottom: 20px;
   font-style: normal;
   font-weight: 600;
   font-size: 33px;
   line-height: 180.5%;
   text-align: center;
   color: #222222;
   margin-bottom: 15px;
}

.services__txt {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 187.5%;
   text-align: center;
   color: #898989;
}

.services__clients {
   padding-top: 55px;
}

.clients__txt {
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 30px;
   color: #0B132A;
   padding-bottom: 10px;
}

#services {
   padding-bottom: 80px;
}

.clients__item {
   width: 1000px;
   margin: 0 auto;
   padding: 50px 0;
   border-radius: 10px;
   box-shadow: 5px 14px 30px -10px rgb(34 60 80 / 20%);
}

.clients__span {
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
   color: #4F5665;
}

.item-list--before1::before {
   content: ' ';
   width: 60px;
   height: 60px;
   background-image: url('../img/user.png');
   display: block;
   position: absolute;
   top: 0;
   left: -70px;
}

.item-list--before2::before {
   content: ' ';
   width: 60px;
   height: 60px;
   background-image: url('../img/location.png');
   display: block;
   position: absolute;
   top: 0;
   left: -70px;
}

.item-list--before3::before {
   content: ' ';
   width: 60px;
   height: 60px;
   background-image: url('../img/Serverss.png');
   display: block;
   position: absolute;
   top: 0;
   left: -70px;
}

.after::after {
   position: absolute;
   width: 2px;
   height: 100px;
   content: "";
   background-color: #C2C2C2;
   top: -15px;
   right: -61px;
}


/* ============= PAGE 2  SHOXRUX ============= */

.blog{
   display: flex;
   justify-content: space-between;
   padding-top: 80px;
   padding-bottom: 50px;
}

.blog__body{
   position: relative;

}
.bx-play-circle{
   position: absolute;
   font-size: 50px;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 50px;
   height: 50px;

}
.blog__title{
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 180.5%;
   color: #222222;
   width: 350px;
}
.blog__text{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #525252;
   width: 380px;
   margin-bottom: 28px;

}

.blog__list-text{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #525252;
   list-style: none;
   display: flex;
   margin-bottom: 19px;
}
.blog__list-text::before{
   content: '';
   display: block;
   background-image: url(../img/bx_bxs-check-circle.svg);
   background-repeat: no-repeat;
   width: 30px;
   height: 30px;
}


/* ============= PAGE 1  SIROTILLO ============= */

/* PROJECTS ============== */
#projects {
   padding-top: 141px;
}

.projects__title {
   font-weight: 600;
   font-size: 25px;
   line-height: 187.5%;
   color: #222222;
}

.projects__paragraph {
   font-weight: normal;
   font-size: 14px;
   line-height: 187.5%;
   color: #525252;
}

.projects__images {
   margin-top: 71px;
}

.projects__images {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.projects__img-wrap1 {
   display: flex;
   flex-direction: row;
}

.projects__img-wrap2 {
   margin-top: 30px;
   display: flex;
   flex-direction: row;
}

.projects__img-wrap2 img,
.projects__img-wrap1 img {
   margin-right: 38px;
}
/* /PROJECTS ============== */


/* LOREM ============== */
#lorem {
   padding-top: 164px;
   padding-bottom: 150px;
}

.lorem__desc {
   padding-top: 50px;
}

.lorem__title {
   font-weight: 500;
   font-size: 30px;
   line-height: 45px;
}

.lorem__paragraph {
   margin-top: 43px;
   font-weight: normal;
   font-size: 17px;
   line-height: 25px;
   color: #515151;
}

.lorem__btn-wrap {
   margin-top: 59px;
}

.lorem__btn {
   padding: 11px 45px;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;   
   background: #DC7000;
   color: #fff;
}
/* /LOREM ============== */

/* ============= /PAGE 1  SIROTILLO ============= */


/* ============= PAGE 3  SIROTILLO ============= */

#news {
   padding-top: 94px;
}

.news__link {
   font-weight: normal;
   font-size: 16px;
   line-height: 208.5%;
   color: #848484;
}

.news__link-about {
   color: #FF7C32;
}

.news__title {
   margin-top: 16px;
   font-weight: 600;
   font-size: 33px;
   line-height: 180.5%;
   text-align: center;
   color: #222222;
}

.news__paragraph {
   margin-top: 13px;
   font-weight: 500;
   font-size: 16px;
   line-height: 187.5%;
   text-align: center;
   color: #898989;
}

.news__search-wrap {
   margin-top: 74px;
}

.news__search-wrap i {
   position: relative;
   font-size: 20px;
   top: 4px;
   right: -50px;
   color: #a8a7a7;
}

.news__search {
   padding: 9px 59px;
   width: 400px;
   height: 49px;
   background: #F1F1F1; 
   color: #494848; 
   border: none; 
   border-radius: 10px;
   outline-color: #a8a7a7;
}

.news-body {
   margin-top: 109px;
}

.new-left {
   margin-bottom: 100px;
   border-bottom: 0.7px solid #A5A5A5;
}

.new-left__author-wrap {
   margin-top: 21px;
   margin-bottom: 20px;
}

.new-author {
   margin-right: 20px;
   padding: 15px 32px;
   background: #2351F5;
   color: #fff;
}

.new-left__title {
   margin-top: 21px;
   font-weight: 600;
   font-size: 30px;
   line-height: 45px;
   color: #000000;
}

.new__p {
   margin-top: 32px;
   font-weight: normal;
   font-size: 17px;
   line-height: 207.8%;
   color: #515151;
}

.new-right {
   margin-bottom: 60px;
}

.new-right__inner {
   margin-left: 30px;
}

.new-right__title {
   margin-top: 4-0px;
   font-weight: 600;
   font-size: 23px;
   line-height: 34px;
   color: #000000;
}


.new-right:nth-child(1) .new-author {
   background: #000;
}

.new-right:nth-child(3) .new-author {
   background: #FF7C32;
}

.new-second {
   border-bottom: none;
}

.new-second__right .new-right:nth-child(1) .new-author {
   background: #23A54F;
}

.new-second__right .new-right:nth-child(3) .new-author {
   background: #9921C3;
}

.new-left__subtitle {
   margin-top: 80px;
   font-weight: 600;
   font-size: 30px;
   line-height: 187.5%;
   color: #222222;
}
/* ============= /PAGE 3  SIROTILLO ============= */



/* ============= PAGE 4  ABDUSAMAD ============= */

.globus__div {
   padding: 50px 0;
}

.globus__titles {
   padding: 20px 0;
}

.globus__mini-title {
   font-size: 16px;
   margin-bottom: 15px;
   color: #848484;
}

.mini-title__span {
   color: #E47500;
}

.globus__title {
   font-weight: 600;
   font-size: 33px;
   line-height: 180.5%;
   margin-bottom: 15px;
}

.globus__desc {
   font-weight: 500;
   font-size: 16px;
   line-height: 187.5%;
   margin-bottom: 20px;
   color: #898989;
}

.globus__imgs {
   padding-top: 50px;
   padding-bottom: 100px;
}

.globus__img {
   width: 100%;
}

.item__span {
   display: block;
   margin-bottom: 20px;
}

.item__bx {
   margin: 0;
   margin-right: 10px;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.globus__item--after::after {
   position: absolute;
   top: -10%;
   right: -75%;
   width: 2px;
   height: 100px;
   content: "";
   background-color: #C2C2C2;
}

.globus__item--after2::after {
   position: absolute;
   top: -60%;
   right: -75%;
   width: 2px;
   height: 100px;
   content: "";
   background-color: #C2C2C2;
}

.item__link {
   font-weight: 300;
   font-size: 20px;
   line-height: 30px;
   color: #333333;
}

.item__link--before::before {
   position: relative;
   top: 6px;
   left: -10px;
   width: 30px;
   height: 30px;
   content: "";
   background-image: url("../img/phone.svg");
}

.item__link--before2::before {
   position: absolute;
   left: -12%;
   width: 30px;
   height: 30px;
   content: "";
   background-image: url("../img/location.svg");
}



/* ------------PAGE 1---------- */


.hero-bg {
   width: 100%;
   height: 750px;
   background-position: right;
   background-size: cover;
   background-image: url("../img/home-hero-bg.svg");
   z-index: -10;
}

.main__div {
   padding: 100px 0;
}

.main__bg-img {
   position: absolute;
   top: 10%;
   z-index: -5;
}

.main__text {
   display: block;
   font-size: 20px;
   color: #E87D0E;
   margin-bottom: 17px;
}

.main__title {
   font-size: 50px;
   line-height: 155.2%;
   margin-bottom: 25px;
}

.main__desc {
   font-weight: 500;
   font-size: 16px;
   line-height: 200%;
   margin-bottom: 50px;
}

.main__link {
   font-weight: 500;
   font-size: 16px;
   padding: 15px 24px;
   color: #FFFFFF;
   background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
   border-radius: 40px;
}